Doctype html
Html
 Head
    Title Student Data
 Body
    H1 Student Data
    ul
        li Roll No: #{rollNo}
        li Name: #{name}
        li Division: #{division}
        li Email: #{email}
        li Subject: #{subject}
        a(href="/") Back to Form